body {
  background-color: black;
}

#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url(./images/board.jpg) no-repeat;
}

#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(5, 12, 0);
}

table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}

td {
  width: 94px;
  height: 94px;
}

form {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  background-color: rgb(29, 73, 0);
}

form input {
  background-color: rgb(176, 221, 144);
  border-color: rgb(65, 148, 23);
  font-size: 1em;
}

.hit {
  background: url(./images/ship.png) no-repeat center center;
}

.miss {
  background: url(./images/miss.png) no-repeat center center;
}
